@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.header_container {
  background-color: black;
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
}

.left_container_nav > h4 {
  color: white;
  margin-left: 250px;
  padding: 43px 0px 43px;
  font-size: 20px;
}

.right_container_nav {
  margin-right: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
